{% extends 'base.html' %}
{% block content %}

<section class="section container">
    <div class="columns">
        <div class="column">
            <a  href="{{url_for('listar_cobros')}}" class="button is-primary has-text-centered">
            <p class="has-text-white"> COBRANZAS</p>
            </a>
        
            <a href="{{url_for('listar_pagos')}}"class="button is-warning has-text-centered">
            <p class="has-text-white"> PAGOS</p>
            </a>
        </div>
        <div class="column">
            <a  href="{{url_for('saldo_clientes')}}" class="button is-primary has-text-centered">
            <p class="has-text-white"> SALDO CLIENTES</p>
            </a>
        
            <a href="{{url_for('saldo_proveedores')}}" class="button is-warning has-text-centered">
            <p class="has-text-white"> SALDOS A PROVEEDORES</p>
            </a>
            <a class="has-text-white button is-info" href="{{url_for('listar_cheques')}}">CHEQUES</a>
        </div>
    </div>
    <div class="columns-none"></div>
</section>
<section class="section">
    <h1 class="title has-text-centered">Totales</h1>
    <div class="columns">
        <div class="column card">
            <h2 class="subtitle card-header"><strong>Saldos Clientes y Proveedores</strong></h2>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Proveedores</strong></h3>
                <p><strong>Facturas A:</strong> ${{saldoProveedores[0]}}</p>
                <p><strong>Facturas B:</strong> ${{saldoProveedores[1]}}</p>
                <p><strong> Total Saldo a proveedores:</strong> ${{saldoProveedores[2]}}</p>
            </div>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Clientes</strong></h3>
                <p><strong>Facturas A:</strong> ${{saldoClientes[0]}}</p>
                <p><strong>Facturas B:</strong> ${{saldoClientes[1]}}</p>
                <p><strong> Total Saldo Clientes:</strong> ${{saldoClientes[2]}}</p>
            </div>
        </div>
        <div class="column card">
            <h2 class="subtitle card-header">
                <strong>Pagos y Cobranzas</strong>
            </h2>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Pagos</strong></h3>
                <p><strong>Pago proveedores A:</strong> ${{pagos_a}}</p>
                <p><strong>Pago proveedores B:</strong> ${{pagos_b}}</p>
                <p><strong>Total Pago a Proveedores:</strong> ${{pagos_a + pagos_b}}</p>
            </div>
            <div class="card-content">
                    <h3 class="has-text-centered"><strong>Cobranzas</strong></h3>
                    <p><strong>Cobro Clientes A:</strong> ${{cobranzas_a}}</p>
                    <p><strong>Cobro Clientes B:</strong> ${{cobranzas_b}}</p>
                    <p><strong>Total Cobro a Clientes:</strong> ${{cobranzas_a + cobranzas_b}}</p>
                </div>
                <div class="card-content">
                    <h3 class="has-text-centered"><strong>Gastos generales</strong></h3>
                    <p><strong>ingresos:</strong> ${{g_entrada}}</p>
                    <p><strong>Egresos:</strong> ${{g_salida}}</p>
                </div>
        </div>
        <div class="column card">
            <h2 class="subtitle card-header"><strong>Acumulado productos</strong></h2>
            <div class="card-content">
                <p><strong>Acumulado productos A:</strong> ${{acum[0]}}</p>
                <p><strong>Acumulado productos B:</strong> ${{acum[1]}}</p>
                <p><strong>Acumulado Total en productos:</strong> ${{acum[2]}}</p>
            </div>
            
            <div class="card-content">
                <table class="table">
                    <thead>
                        <th>Cheuques</th>
                        <th>Emitidos</th>
                        <th>Recibidos</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>A</th>
                            <td>$ {{coa}}</td>
                            <td>$ {{cia}}</td>
                        </tr>
                        <tr>
                            <th>B</th>
                            <td>$ {{cib}}</td>
                            <td>$ {{cib}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="section columns-none has-text-centered">
        
        <p class="title"><strong>Cheques</strong></p>
        <p>recibidos A: {{cia}}</p>
        <p>recibidos B: {{cib}}</p>
        <p>emitidos A: {{coa}}</p>
        <p>emitidos B: {{cob}}</p>
        <p class="title"><strong>Balance</strong></p>
        <p>{{balance}}</p>
        <p class="title"><strong>caja</strong></p>
        <p>{{caja}}</p>
        <p class="title"><strong>caja Version2</strong></p>
        <p>{{caja2}}</p>
    </div>
</section>
{% endblock content %}