{% extends 'base.html' %}
{% block content %}

<section class="section container">
    <div class="columns">
        <div class="column">
            <a  href="{{url_for('listar_cobros')}}" class="button is-primary has-text-centered">
            <p class="has-text-white"> COBRANZAS</p>
            </a>
        
            <a href="{{url_for('listar_pagos')}}"class="button is-warning has-text-centered">
            <p class="has-text-white"> PAGOS</p>
            </a>
        </div>
        <div class="column">
            <a  href="{{url_for('saldo_clientes')}}" class="button is-primary has-text-centered">
            <p class="has-text-white"> SALDO CLIENTES</p>
            </a>
        
            <a href="{{url_for('saldo_proveedores')}}" class="button is-warning has-text-centered">
            <p class="has-text-white"> SALDOS A PROVEEDORES</p>
            </a>
            <a class="has-text-white button is-info" href="{{url_for('listar_cheques')}}">CHEQUES</a>
        </div>
    </div>
    <div class="columns-none"></div>
</section>
<section class="section">
    <h1 class="title has-text-centered">Totales</h1>
    <div class="columns">
        <div class="column card">
            <h2 class="subtitle card-header"><strong>Saldos Clientes y Proveedores</strong></h2>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Proveedores</strong></h3>
                <p><strong>Facturas A:</strong> ${{spa}}</p>
                <p><strong>Facturas B:</strong> ${{spb}}</p>
                <p><strong> Total Saldo a proveedores:</strong> ${{saldoP}}</p>
            </div>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Clientes</strong></h3>
                <p><strong>Facturas A:</strong> ${{sca}}</p>
                <p><strong>Facturas B:</strong> ${{scb}}</p>
                <p><strong> Total Saldo Clientes:</strong> ${{saldoC}}</p>
            </div>
        </div>
        <div class="column card">
            <h2 class="subtitle card-header">
                <strong>Pagos y Cobranzas</strong>
            </h2>
            <div class="card-content">
                <h3 class="has-text-centered"><strong>Pagos</strong></h3>
                <p><strong>Pago proveedores A:</strong> ${{sa}}</p>
                <p><strong>Pago proveedores B:</strong> ${{sb}}</p>
                <p><strong>Total Pago a Proveedores:</strong> ${{pagos}}</p>
            </div>
            <div class="card-content">
                    <h3 class="has-text-centered"><strong>Cobranzas</strong></h3>
                    <p><strong>Cobro Clientes A:</strong> ${{ea}}</p>
                    <p><strong>Cobro Clientes B:</strong> ${{eb}}</p>
                    <p><strong>Total Cobro a Clientes:</strong> ${{cobros}}</p>
                </div>
            <p>{{cobros}}</p>
        </div>
        <div class="column card">
            <h2 class="subtitle card-header"><strong>Acumulado productos</strong></h2>
            <p><strong>Acumulado productos A:</strong> ${{prodAcum_a }}</p>
            <p><strong>Acumulado productos B:</strong> ${{prodAcum_b }}</p>
            <p><strong>Acumulado Total en productos:</strong> ${{totalP_A}}</p>
        </div>
    </div>
    <div class="section columns-none has-text-centered">
        <p class="title"><strong>Balance</strong></p>
        <p>{{balance}}</p>
        <p class="title"><strong>caja</strong></p>
        <p>{{caja}}</p>
    </div>
</section>
{% endblock content %}