{% extends 'base.html' %}
{% block content %}
<div class="section columns">
    <div class="container column">
        <div class="field">
            <label for="proveedor" class="label">Proveedor</label>
            <div class="control">
                <div class="select">
                    <select name="proveedor" id="proveedor">{# cargaraca la lista de proveedores#}
                        {% for proveedor in proveedores %}
                            <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="monto" class="label">Monto</label>
            <div class="control">
                <input type="text" class="input" id="monto">
            </div>
        </div>
        <div class="field">
            <label for="comentario" class="label">Comentario</label>
            <div class="control">
                <textarea class="textarea" placeholder="Comentario" name=comentario id="comentario"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label  class="radio">efectivo
                    <input class="radio-input"type="radio" name="pago" value="efectivo" checked>
                </label>
                <label class=radio> cheqeura
                    <input class="radio-input"type="radio" name="pago" value="chequera">
                </label>
                <label class=radio>cheque 3ro
                    <input class="radio-input"type="radio" name="pago" value="cheque3ro">
                </label>
            </div>
        </div>
        <div class="field">
            <label for="factura" class="label">Factura</label>
            <div class="control">
                <div class="select">
                    <select name="factura" id="factura">
                        <option value="0">A</option>
                        <option value="1">B</option>
                    </select>
                </div>
            </div>
        </div>
        <input class="button is-success" type="button" value="Aceptar Pago" id="generar">
    </div> {# FIN SELECCION DE PROVEEDOR #}


    <div class="container column">
        {# INICIO CARGA CHEQUE #}
        <div class="" id=cheque-propio style="display: none">
            <div class="field">
                <label for="chequera"class="label">Chequera</label>
                <div class="control">
                    <div class="select">
                        <select name="chequera" id="chequera">
                        {% for chequera in chequeras%}
                            <option value="{{chequera.id}}">Nº{{chequera.numero_chequera}} {{chequera.banco}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="cheques" class="label">Cheques</label>
                <div class="control">
                    <div class="select">
                        <select name="cheques" id="cheques">
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="fecha_emision" class="label">Fecha emisión</label>
                <div class="control">
                    <input type="date" class="input" id="fecha_emision">
                </div>
            </div>
            <div class="field">
                <label for="fecha_cobro" class="label">Fecha de acreditación</label>
                <div class="control">
                    <input type="date" class="input" id="fecha_cobro">
                </div>
            </div>
        </div>
        <div class="" id ="cheque3roContainer" style="display:none;">
            <p><strong>Seleccione cheques de terceros y presione calcular</strong></p>
            <input type="button" id="calcular" class="button is-primary" value=Calcular>
            <input id="addSelect" type="button" value="+" class="button is-info" style="float: right;">
            <input id="delSelect" type="button" value="-" class="button is-danger" style="float: right;">
            <div id="cheque3ro"></div>
        </div>
    </div>
</div>


{% endblock content %}
{% block script %}
    <script src="{{url_for('static', filename='js/pagos.js')}}"></script>
{% endblock script %}

<div class="field">
    <label for="chequeTercero" class="label">Seleccione el cheque</label>
    <div class="control">
        <div class="select">
            <select name="chequeTercero-1" id="chequeTercero-1"></select>
        </div>
    </div>
</div>