{% extends 'base.html' %}
{% block content %}
<div class="section ">
    <div class="container level">
        <div class="level-left">
            <a href="{{url_for('cargar_compra')}}" class="button is-primary level-item"><strong>Cargar Compra</strong></a>
        </div>
        <div class="level-left">
            <div class="field level-item">
                <label for="fechaInicio" class="label">Inicio</label>
                <p class="control">
                    <input type="date" id="fechaInicio" class="input">
                </p>
            </div>
            
            <div class="field level-item">
                <label for="fechaFin" class="label">Fin</label>
                <p class="control">
                    <input type="date" id="fechaFin" class="input">
                </p>
            </div>
            <div class="level-item">
                <button class="button is-info" onclick="{{funcion}}">filtrar</button>
            </div>
        </div>
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th>Fecha - Hora</th>
                <th>Proveedor</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Valor Unitario</th>
                <th>Precio carga</th>
                <th>Flete</th>
                <th>Costo flete</th>
                <th>Total</th>
                <th>Factura</th>
            </tr>
        </thead>
        <tbody id="cuerpoTabla">
            {% for c in compras %}
            <tr>
                <td><a href="{{url_for('detalle_compra',id=c.id)}}">{{c.fecha.strftime('%d/%m/%y %H:%M')}}</td>
                <td><a href="{{url_for('detalle_proveedor', id=c.proveedor.id)}}">{{c.proveedor.nombre}}</a></td>
                <td>
                    {% if c.producto.nombre %}
                    <a href="{{url_for('detalle_producto',id=c.producto.id)}}">{{c.producto.nombre}}</a>
                    {% else %}
                        Servicio
                    {% endif %}
                </td>
                <td>{{c.cantidad}}</td>
                <td>${{c.precio_unitario}}</td>
                <td>${{c.precio_carga}}</td>
                <td>
                    {% if c.envio.flete %}
                        {{c.envio.flete.nombre}}
                    {% else %}
                        sin envio
                    {% endif %}</td>
                <td>${{c.precio_flete}}</td>
                <td>${{c.monto_total}}</td>
                <td>
                    {% if c.factura_proveedor %}
                        A
                    {% else %}
                        B
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock content %}
{% block script %}
    <script src="{{url_for('static', filename='js/filtro-fechas.js')}}"></script>
{% endblock script %}