{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" class="section columns form">
        {{form.hidden_tag()}}
        <div class="container column">

            {% for campo in form %}
                <div class="field">
                {% if campo() != form.submit() and campo() != form.hidden_tag() %}
                
                    {{campo.label}}
                    <div class="control">

                            {{campo()}}
                    </div>
                    {% endif %}
                    {% for e in campo.errors %}
                        <span>[{{e}}]</span>
                    {% endfor %}
    
                </div>
                {% endfor %}
        </div>
        <div class="column">
            <p>{{form.submit()}}</p>
            {%if control%}
                <a href="{{url_for('cheque_tercero', id=id)}}"class="button subtitle is-primary has-text-light">cargar cheque de tercero</a>
            {%endif%}
            
            <a href="{{atras}}" class="button subtitle is-primary has-text-light" >atras</a>
        </div>
</form>
{% endblock content %}

{% block script %}
    <script src="{{url_for('static', filename='js/cargar-venta.js')}}"></script>
{% endblock script %}


