{% extends 'base.html' %}
{% block content %}
<div class="section">
        <div class="tabs is-medium is-toggle is-centered">
            <ul>
                <li id="v" class="btn "><a onclick="openTab('ventas')">Todos</a></li>
                <li id="c" class="btn"><a onclick="openTab('cobros')">Salida</a></li>
                <li id="s" class="btn"><a onclick="openTab('servicios')">Entrada</a></li>
            </ul>
        </div>
        <table class="table is-hoverable" id="ventas">
        <thead>
            <tr>
                <th>Cheque id</th>
                <th>Numero</th>
                <th>state</th>
                <th>importe</th>
                <th>de tercero</th>
                <th>Es entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cheques %}
                <tr>
                    <td>{{c.id}}</td>
                    <td><a href="{{url_for('detalle_cheque', id=c.id)}}">{{c.numero}}</a></td>
                    <td>{{c.state}}</td>
                    <td>{{c.importe}}</td>
                    <td>{{c.es_de_tercero}}</td>
                    <td>{{c.es_entrada}}</td>
                    <td><p class="button subtitle is-primary"><a href="{{url_for('acreditar_cheque', id=c.id)}}" class="has-text-white">acreditado</a></p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table is-hoverable" id="cobros" style="display: none;">
            <thead>
                <tr>
                    <th>Cheque id</th>
                    <th>Numero</th>
                    <th>state</th>
                    <th>importe</th>
                    <th>de tercero</th>
                    <th>Es entrada</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cheques_out %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td><a href="{{url_for('detalle_cheque', id=c.id)}}">{{c.numero}}</a></td>
                        <td>{{c.state}}</td>
                        <td>{{c.importe}}</td>
                        <td>{{c.es_de_tercero}}</td>
                        <td>{{c.es_entrada}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table is-heverable" id="servicios" style="display:none;">
                <thead>
                    <tr>
                        <th>Cheque id</th>
                        <th>Numero</th>
                        <th>state</th>
                        <th>importe</th>
                        <th>de tercero</th>
                        <th>Es entrada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cheques_in %}
                        <tr>
                            <td>{{c.id}}</td>
                            <td><a href="{{url_for('detalle_cheque', id=c.id)}}">{{c.numero}}</a></td>
                            <td>{{c.state}}</td>
                            <td>{{c.importe}}</td>
                            <td>{{c.es_de_tercero}}</td>
                            <td>{{c.es_entrada}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock content %}